/* reset.css */
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
textarea {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/1.5 'Microsoft YaHei','PingFang SC', 'SimSun', Tahoma, Geneva, sans-serif;
    color: #333;
}

button,
input,
select,
textarea {
    font: 12px/1.5 'Microsoft YaHei', 'SimSun', Tahoma, Geneva, sans-serif;
    color: #333;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
    vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q {
    &:before,
    &:after {
        content: "";
    }
}

a {
    color: #333;
    text-decoration: none;
    &:hover {
        color: #f70;
        text-decoration: underline;
    }
    outline: none;
    &:active,
    &:focus {
        outline: none;
    }
}

input {
    outline: none;
    &::-moz-focus-inner {
        border: none;
    }
}

.hide {
    display: none;
}

.tpl_container {
    width: 100%;
    margin: 0 auto;
    height: auto;
    zoom: 1;
}

.module_Space {
    // width: 1180px;
    margin: 0 auto;
}

// .columnSpace {
//     position: relative;
//     zoom: 1;
// }

.clear:after,
.cf:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clear,
.cf {
    *zoom: 1;
}

.clr_l {
    clear: left;
}

.clearit {
    height: 0;
    clear: both;
    font-size: 0;
    overflow: hidden;
}

.f-ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.f-dn {
    display: none;
}

.f-db {
    display: block;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-fwn {
    font-weight: normal;
}

.f-fwb {
    font-weight: bold;
}

.f-tal {
    text-align: left;
}

.f-tac {
    text-align: center;
}

.f-tar {
    text-align: right;
}

.f-csp {
    cursor: pointer;
}

.f-csd {
    cursor: default;
}

.f-usn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.f-yh {
    font-family: "Microsoft Yahei" !important;
}

.f-st {
    font-family: "SimSun" !important;
}

.f-s14 {
    font-size: 14px !important;
}

.f-s16 {
    font-size: 16px !important;
}

.f-s18 {
    font-size: 18px !important;
}

.f-s20 {
    font-size: 20px !important;
}

.f-s24 {
    font-size: 24px !important;
}

.c-6 {
    color: #666 !important;
}

.hide {
    display: none !important;
}

.c-9 {
    color: #999 !important;
}

.mt8 {
    margin-top: 8px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mtb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mr30 {
    margin-right: 30px;
}

.ml40 {
    margin-left: 40px;
}

.mr40 {
    margin-right: 40px;
}

.ml50 {
    margin-left: 50px;
}

.mr50 {
    margin-right: 50px;
}

.mr0 {
    margin-right: 0 !important;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.no-pd {
    padding: 0 !important;
}

.pos-rlt {
    position: relative;
}

.container {
    min-width: 1180px;
    width: 1180px;
    margin: 0 auto;
    height: auto;
    zoom: 1;
}

.container:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.manage-warp {
    width: 1180px;
    margin: 0 auto;
    height: auto;
    //background: #f2f1ef;
}

.back_c {
    background: #f2f1ef;
}

.arrow {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0);
    border-color: transparent;
    _border-color: #ff6347;
    _filter: chroma(color=#ff6347);
    border-style: solid;
    *zoom: 1;
}

.arrowR {
    border-left-color: #c7c4c4;
    border-right-width: 0;
}

.arrowL {
    border-right-color: #f60;
    border-left-width: 0;
    &:hover {
        border-right-color: #ddd;
    }
}

.arrowT {
    border-bottom-color: #f60;
    border-top-width: 0;
}

.arrowB {
    border-top-color: #f60;
    border-bottom-width: 0;
}

.arrow2 {
    display: block;
    position: relative !important;
    width: 5px;
    height: 10px;
    .arrow {
        position: absolute;
        left: 0;
        top: 0;
    }
    .smallB {
        left: 2px;
        border-width: 3px;
        border-top-color: #fff;
        border-bottom-width: 0;
    }
    .smallT {
        border-width: 3px;
        border-bottom-color: #fff;
        border-top-width: 0;
        left: 2px;
        top: 2px;
    }
    .smallL {
        border-width: 3px;
        border-right-color: #fff;
        border-left-width: 0;
        left: 2px;
        top: 2px;
    }
    .smallR {
        border-width: 3px;
        border-left-color: #fff;
        border-right-width: 0;
        left: 0;
        top: 2px;
    }
}

.m-page {
    margin: 20px 0;
    text-align: center;
    line-height: 32px;
    font-size: 0;
    letter-spacing: -0.307em;
    *letter-spacing: normal;
    *word-spacing: -1px;
    word-wrap: normal;
    white-space: nowrap;
    color: #999;
    input,
    small,
    a,
    span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        padding: 0 12px;
        margin-left: -1px;
        border: 1px solid #ddd;
        font-size: 12px;
        letter-spacing: normal;
        word-spacing: normal;
        margin-left: 5px;
    }
    a {
        text-decoration: none;
        color: #666;
        &:hover {
            text-decoration: none;
            color: #666;
        }
        &.first {
            margin-left: 0;
        }
        &.last {
            margin-right: 0;
        }
        .pagearr {
            font-weight: bold;
            font-family: 'SimSun';
            vertical-align: top;
            *vertical-align: middle;
        }
        &.pageprv .pagearr {
            margin-right: 3px;
        }
        &.pagenxt .pagearr {
            margin-left: 3px;
        }
        &:hover {
            background: #fe611c;
            color: #fff;
            border: 1px solid #fe611c;
            font-weight: bold;
        }
    }
    span {
        background: #fe611c;
        color: #fff;
        border: 1px solid #fe611c;
        font-weight: bold;
    }
    a {
        &:active {
            background: #f0f0f0;
        }
        &.z-crt {
            cursor: default;
            color: #fff;
            background: #fe611c;
            &:hover,
            &:active {
                cursor: default;
                color: #fff;
                background: #fe611c;
            }
        }
        &.z-dis {
            cursor: default;
            color: #ccc;
            background: #fff;
            &:hover,
            &:active {
                cursor: default;
                color: #ccc;
                background: #fff;
            }
        }
    }
}


/*columnSpace*/

.columnSpace {
    position: relative;
    zoom: 1;
    .columnSpace_bj {
        position: absolute;
        width: 1920px;
        height: 100%;
        top: 0px;
        left: 50%;
        margin-left: -960px;
        background-position: center;
        text-align: center;
        overflow: hidden;
    }
    .span12 {
        width: 100%;
        *width: 99.94680851063829%;
        float: left;
    }
    .span11 {
        width: 91.45299145299145%;
        *width: 91.39979996362975%;
        float: left;
    }
    .span10 {
        width: 82.90598290598291%;
        *width: 82.8527914166212%;
        float: left;
    }
    .span9 {
        width: 74.35897435897436%;
        *width: 74.30578286961266%;
        float: left;
    }
    .span8 {
        width: 65.81196581196582%;
        *width: 65.75877432260411%;
        float: left;
    }
    .span7 {
        width: 57.26495726495726%;
        *width: 57.21176577559556%;
        float: left;
    }
    .span6 {
        width: 48.717948717948715%;
        *width: 48.664757228587014%;
        float: left;
    }
    .span5 {
        width: 40.17094017094017%;
        *width: 40.11774868157847%;
        float: left;
    }
    .span4 {
        width: 31.623931623931625%;
        *width: 31.570740134569924%;
        float: left;
    }
    .span3 {
        width: 23.076923076923077%;
        *width: 23.023731587561375%;
        float: left;
    }
    .span2 {
        width: 14.52991452991453%;
        *width: 14.476723040552828%;
        float: left;
    }
    .span1 {
        width: 5.982905982905983%;
        *width: 5.929714493544281%;
        float: left;
    }
    .item_list ul {
        *zoom: 1;
        /*ie6,ie7*/
    }
}


/*column*/

.column_1 {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.column_2 {
    width: 50%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.column_3 {
    width: 33.3%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.column_4 {
    width: 25%;
    *width: 24.5%;
    /*ie6,ie7*/
    margin: 0px;
    padding: 0px;
    float: left;
}

.column_5 {
    width: 20%;
    *width: 20%;
    /*ie6,ie7*/
    margin: 0px;
    padding: 0px;
    float: left;
}
.column_6 {
    width: 16.6%;
    *width: 16.6%;
    /*ie6,ie7*/
    margin: 0px;
    padding: 0px;
    float: left;
}

.div_inline{
    display: inline;
}
.noclick-btn,.noclick-btn:hover,.noclick-btn:focus{ 
    background:#CCC !important;
}

